<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucas.ebo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".EboApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.country.CountryPickActivity"></activity>
        <activity android:name=".ui.activity.account.RegisterSetPasswordActivity" />
        <activity android:name=".ui.activity.account.LoginForgotPassword1Activity" />
        <activity android:name=".ui.activity.account.LoginByAccountForeignActivity" />
        <activity android:name=".ui.activity.account.LoginByAccountAndPwdActivity" />
        <activity android:name=".ui.activity.account.SignUpByEmailForeignActivity" />
        <activity android:name=".ui.activity.account.SignUpSetPasswordActivity" />
        <activity android:name=".ui.activity.account.SignUpByEmailActivity" />
        <activity android:name=".ui.activity.account.LoginByPhoneAndCodeActivity" />
        <activity android:name=".ui.activity.account.SignUpByPhoneActivity" />
        <activity android:name=".ui.activity.splash.SplashLoginActivity" />
        <activity
            android:name=".ui.activity.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>